body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: white;
}

.first, .second {
   text-align: center;
   background-color: #be85ff;
   color: rgb(27, 25, 25);
   padding: 15px;
   border-radius: 10px;
   margin: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
   padding: 12px 20px;
   background-color: #594dff;
   color: rgb(19, 17, 17);
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
   background-color: #594dff;
   transform: scale(1.05);
}
